* {
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  background-color: #efefe1;
}

#container {
  margin: auto;
  margin-top: 15vh;
  background-color: #bbdcb4;
  max-width: 50vh;
  padding: 2rem;
  border-radius: 10px;
}

[type="submit"] {
  margin-top: 1rem;
}

.container2 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#p2 {
  padding: 1rem;
  font-weight: 700;
  font-size: 20px;
}
